.chart-card {
  width: 33%;
  margin-top: 0.5%;
  :global {
    .ant-card-head {
      border-bottom-color: transparent;
      .ant-card-head-title {
        padding: 10px 0;
      }
      .ant-card-extra {
        padding: 10px 0;
      }
    }
    .ant-card-body{
        padding: 10px;
        height: 300px;
    }
  }
}
